[user]
  email = dominic.batten@googlemail.com
  name = Dom Batten
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[rebase]
  autosquash = true
  autoStash = true
[init]
  defaultBranch = main
[core]
  editor = nvim
[pull]
  rebase = true
[difftool]
  prompt = true
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[url "ssh://git@github.com/"]
	insteadof = https://github.com/
[branch]
	sort = -committerdate
