snippet section
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" $0
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
endsnippet

snippet f
function! $1()
	$0
endfunction
endsnippet

snippet if
if $1
	$0
endif
endsnippet

snippet get
get(${1:g:}, '$2', $3)
endsnippet
